<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caij.emore">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".EMoreApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            tools:node="remove" />

        <meta-data android:name="com.caij.emore.utils.glide.MyGlideModule"
            android:value="GlideModule"/>

        <service android:name=".service.EMoreService"/>
        <service android:name=".service.EMoreService$GrayInnerService"/>

        <activity android:name="com.caij.emore.ui.activity.SplashActivity"
            android:theme="@style/SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.caij.emore.ui.activity.login.EMoreLoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.login.WeiCoLoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.MainActivity"
            android:theme="@style/AppTheme.Main"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.UserInfoActivity"
            android:theme="@style/AppTheme.Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="@string/user_info_scheme"/>
            </intent-filter>
        </activity>

        <activity android:name="com.caij.emore.ui.activity.WebActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/emore_http_scheme"/>
            </intent-filter>
        </activity>

        <activity android:name="com.caij.emore.ui.activity.WeiboDetialActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.publish.PublishWeiboActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.caij.emore.ui.activity.SelectImageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.ImagePrewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePrewActivity"/>

        <activity android:name="com.caij.emore.ui.activity.publish.CommentWeiboActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.caij.emore.ui.activity.publish.RepostWeiboActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.caij.emore.ui.activity.publish.ReplyCommentActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.FriendshipActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.MentionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.CommentsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.caij.emore.ui.activity.DefaultFragmentActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>